.yt {
 position: relative;   
  top: 10px;
  left: 300px;
 display: block;
}

.insta {
 position: relative;
  top: 0px;
  left: 500px;
 display: block;
}

body {
         margin: 0;
         padding: 0;
         background: #d3d3d3;
         font-family: "Ariel", serif;
}

.nav {
        position: relative;
        top: 0;
        background-color: #000;
        color: #fff;
        list-style: none;
        text-align: center;
        padding: 20px 0 20px 0;
}

.nav > li {
      display: inline-block;
      padding: 0 25px 0 25px;
}

.nav > li > a {
        text-decoration: none;
        color: #fff;
}

.nav > li > a:hover {
        color: #c1c1c1;
}

.banner {
 width: 100%;
 bottom: 60px;
 display: block;
}

.banner > .banner-image {
 width: 100%;
 display: block;
 bottom: 50px;
}

.wrapper{
 position: absolute;
 top: 88%;
 left: 50%;
 transform: translate(-50%,-50%);
}

.wrapper ul {
 list-style: none;
}

.wrapper ul li{
 width: 75px;
 height: 75px;
 line-height: 75px:
 margin: 0 10px;
 text-align: center;
 cursor: pointer;
 border-radius: 50%;
 border: 5px solid #fff;
 float: left;
}

.wrapper ul li .fa{
 color: #fff;
 margin-top: 20px;
}

.wrapper ul li:hover:nth-child(1){
 border: 5px solid #00aced;
 transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram{
 color: #00aced;
 transition: all 0.5s ease;
}

 .wrapper ul li:hover:nth-child(2){
 border: 5px solid #ff0000;
 transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-youtube{
 color: #ff0000;
 transition: all 0.5s ease;

 .rock {
  top: 0;
   left: 50%;
 }
